

<%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' %>


<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">Make a selfie video</span>
                    <hr class="star-light">
                </div>
                <%=image_tag "head.gif" %>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
      <div class="row test">
          <div class="col-sm-4 portfolio-item center fade_1a">
              <h3>Record yourself turning your head <br>SLOWLY</h2>
          </div>
          <div class="col-sm-4 portfolio-item center fade_2a">
              <!-- <p>Turn head all the way left and then right and back to center.</p> -->
              <p class="two">First all the way left, then right, and back to center</p>
          </div>
          <div class="col-sm-4 portfolio-item center fade_2ba">
              <p>Record for about 10 seconds</p>
          </div>
          <!-- <div class="col-sm-4 portfolio-item center">
              <p>Don't forget to start and stop the camera!</p>
          </div> -->
      </div>
      <div class="row fade_3a test2a">
        <div class="col-sm-4 portfolio-item center">
          <%= form_for Video.new, :html => { :id => 'upload', class: "row col-centered" } do |form| %>
            <%= transloadit :s3_store %>
            <%= form.file_field :file, accept: 'video/*', class: 'add_video filestyle', id: 'imgInp', data: {classButton: "btn btn-primary", input:"false", classIcon:"icon-plus", icon:"false", buttonText:"Load Camera"}  %>
            <%= form.submit "Save Selfie", class: 'hidden' %>
          <% end %>

          <%= transloadit_jquerify :upload, :wait => true %>
        </div>
      </div>
  </div>

</section>
<script>
$('input:file').on('change', function(){
    $('input:submit').removeClass('hidden');
  })
  $(":file").filestyle({
    input: false
  })
</script>
