<body>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Make a selfie video</span>
                        <hr class="star-light">
                    </div>
                    <%=image_tag "head.gif" %>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
          <!-- <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>Directions</h2>
              </div>
          </div> -->
          <div class="row test">
              <div class="col-sm-4 portfolio-item center">
                  <h3>Record yourself turning your head <br>SLOWLY</h2>
              </div>
              <div class="col-sm-4 portfolio-item center">
                  <!-- <p>Turn head all the way left and then right and back to center.</p> -->
                  <p class="two">First all the way left, then right, and back to center</p>
              </div>
              <div class="col-sm-4 portfolio-item center">
                  <p>Record for about 10 seconds</p>
              </div>
              <!-- <div class="col-sm-4 portfolio-item center">
                  <p>Don't forget to start and stop the camera!</p>
              </div> -->
          </div>
          <div class="row">
            <div class="col-sm-4 portfolio-item center">
              <form id="form1" runat="server" class="row col-centered">
                <input type='file' accept="video/*" id="imgInp" class="add_video filestyle" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-icon="false" data-buttonText="Load Camera"/>
                <%= video_tag("", size: "50x100", :class => "hidden")%>
              </form>
              <%= simple_form_for(@video, runat: 'server', html: {id: 'form1', class: 'row col-centered'}) do |f| %>
                <%= f.file_field :video, accept: 'video/*', input_html: { id: 'impInp', class: "add_video filestyle"} %>
              <% end %>
              <%= video_tag("", size: "50x100", :class => "hidden")%>

            </div>
          </div>
      </div>
    </section>

  </body>
