<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>VtoApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
 body {
   background-color: <%= @style_background %>;
   color: <%= @style_text %>
 }
 hr.star-light {
     border-color: <%= @style_text %>;
     /*color: white;*/
 }
 hr.star-light:after {
     color: <%= @style_star %>;

 }
</style>

<body>

<%= yield %>

</body>
</html>
